.header{
    background-color: #2f2c40;
    color: #F8F8F6;
}
footer{
    background-color: #2f2c40;
    color: #F8F8F6;
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-size: .8rem;
}
footer a {
    color: #F8F8F6;
    text-decoration: none;
}
footer a:hover{
    color: #BF4826;
    text-decoration: none;
}
nav a{
    color: #F8F8F6;
    text-decoration: none;
}
nav a:hover{
    color: #BF4826;
    text-decoration: none;
}
a{
    text-decoration:none;
    text-decoration: none;
}
.a-col-d{
    color: #2f2c40;
    text-decoration: none;
}
.a-col{
    color: #F8F8F6;
    text-decoration: none;
}
.a-col:hover{
    color: #BF4826;
    text-decoration: none;
}
.bg{
    background-color: #eee7dd;
}
.bg-d{
    background-color: #2f2c40;
}
.bg-r{
    background-color: tomato;
}
.dark{
    color: #2f2c40;
}
.light{
    color:#eee7dd;
}
.c0{
    color:#F8F8F6;
}
.c1{
    color: #DFCFB8;
}
.c2{
    color: #E5B48A;
}
.c3{
    color:#BF4826;
}
table thead{
    text-align: center;
}
.box{
    height: 76.8px;
}

@media (max-width: 882px){
    .box{
        height: 137.6px;
    }
}
@media (max-width: 500px){
    .box{
        height: 200px;
    }
}
@media (max-width: 364px){
    .box{
        height: 260px;
    }
}

.button-c{
    border-radius: 3rem;
    background-color: #eee7dd;
    color:#2f2c40;
    font-weight: bold;
    margin-bottom: 1rem;
}
.button-c:hover{
    background-color: #BF4826;
    color:#F8F8F6;
}
label strong{
    color:#2f2c40;
}

.button-c1{
    border-radius: 3rem;
    background-color: #2f2c40;
    color:#eee7dd;
    font-weight: bold;
    margin-bottom: 1rem;
}
.button-c1:hover{
    background-color: #BF4826;
    color:#F8F8F6;
}